
/**
*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; /* Add this line to set the number of rows to auto */
    gap: 20px;
}

.gym-card {
    border: 1px solid #ccc;
    padding: 10px;
}

/* Additional styling as needed */
